// tasogare Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
    tasogare_dark {
        fg "#ffffff"
        bg "#0a0a0d"
        // Black should match the terminal background color
        // This ensures the top and bottom bars are transparent
        black "#000000"
        red "#f97e96"
        green "#a4d472"
        yellow "#e6b672"
        blue "#82aaf9"
        magenta "#c1a0f9"
        cyan "#85d5ff"
        white "#dddddd"
        orange "#ffa56e"
    }
}

