(
  selected_tab: Some("#c1a0f9"),
  command_fg: Some("#42525b"),
  selection_bg: Some("#0a0a0d"),
  selection_fg: Some("#85d5ff"),
  cmdbar_bg: Some("#000000"),
  cmdbar_extra_lines_bg: Some("#000000"),
  disabled_fg: Some("#42525b"),
  diff_line_add: Some("#a4d472"),
  diff_line_delete: Some("#f97e96"),
  diff_file_added: Some("#73daca"),
  diff_file_removed: Some("#db4b4b"),
  diff_file_moved: Some("#ff007c"),
  diff_file_modified: Some("#e6b672"),
  commit_hash: Some("#c1a0f9"),
  commit_time: Some("#1abc9c"),
  commit_author: Some("#a4d472"),
  danger_fg: Some("#f97e96"),
  push_gauge_bg: Some("#000000"),
  push_gauge_fg: Some("#ffffff"),
  tag_fg: Some("#ff007c"),
  branch_fg: Some("#e6b672")
)
