(
  selected_tab: Some("#9a4af3"),
  command_fg: Some("#87a5b6"),
  selection_bg: Some("#f7f7f7"),
  selection_fg: Some("#006d8f"),
  cmdbar_bg: Some("#ffffff"),
  cmdbar_extra_lines_bg: Some("#ffffff"),
  disabled_fg: Some("#87a5b6"),
  diff_line_add: Some("#56713a"),
  diff_line_delete: Some("#f12465"),
  diff_file_added: Some("#387068"),
  diff_file_removed: Some("#c64343"),
  diff_file_moved: Some("#d20065"),
  diff_file_modified: Some("#85683f"),
  commit_hash: Some("#9a4af3"),
  commit_time: Some("#118c74"),
  commit_author: Some("#56713a"),
  danger_fg: Some("#f12465"),
  push_gauge_bg: Some("#ffffff"),
  push_gauge_fg: Some("#474747"),
  tag_fg: Some("#d20065"),
  branch_fg: Some("#85683f")
)
